In [103]:
import os
import sys
import csv
import pandas as pd
import numpy as np
import string
import time

In [104]:
# read the date and total case number of each day in US
casenum = pd.read_csv('us.csv', usecols=[0,1], engine='python', header = 0)
casenum.head()

         date  cases
0  2020-01-21      1
1  2020-01-22      1
2  2020-01-23      1
3  2020-01-24      2
4  2020-01-25      3

In [105]:
casenumarr = np.array(casenum)

In [106]:
# get the new cases number of each day
row = casenumarr.shape[0]
column = casenumarr.shape[1]
newcase = casenumarr
temp = np.zeros((row))
for i in range(row):
    temp[i] = casenumarr[i, 1]
for i in range(1, row):
    newcase[i, 1] = temp[i] - temp[i - 1]

In [107]:
# change column name so that we can do join with "merged stock price.csv"
newcase = pd.DataFrame(newcase)
newcase.columns=['Date','new case number']

In [108]:
newcase.head()

         Date new case number
0  2020-01-21               1
1  2020-01-22               0
2  2020-01-23               0
3  2020-01-24               1
4  2020-01-25               1

In [109]:
# save the result to csv file
newcase.to_csv("new_case_number.csv", index = 0)