In [6]:
import os
import sys
import csv
import pandas as pd
import numpy as np
import string
import time

In [7]:
# read 2 datasets
new_case_num = pd.read_csv('new_case_number.csv', engine='python', header = 0)
stock = pd.read_csv('merged stock price.csv', engine='python', header = 0)

In [8]:
#merge them based on Date
result = pd.merge(new_case_num, stock, on = 'Date')

In [9]:
result.head()

,Date,new case number,A,AA,AACG,AAL,AAMC,AAME,AAN,AAOI,...,ZSAN,ZTO,ZTR,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
0,2020-01-21,1.0,89.610001,17.120001,1.41,27.200001,13.44,1.90,60.369999,13.70,...,1.45,23.910000,11.45,141.929993,33.209999,15.18,1.79,47.720001,5.70,10.61
1,2020-01-22,0.0,90.129997,16.590000,1.53,27.320000,13.32,1.90,61.119999,14.25,...,1.42,23.600000,11.47,141.500000,32.320000,15.39,1.76,49.799999,5.73,10.58
2,2020-01-23,0.0,89.070000,16.290001,1.44,28.799999,13.47,1.86,61.360001,14.23,...,1.40,23.110001,11.45,138.339996,32.279999,15.78,1.72,45.099998,5.57,10.42
3,2020-01-24,1.0,88.260002,15.510000,1.36,27.639999,13.20,1.90,61.480000,13.96,...,1.34,22.610001,11.47,136.309998,32.099998,15.45,1.66,47.419998,5.38,10.12
4,2020-01-27,0.0,86.559998,14.870000,1.31,26.110001,13.36,1.80,61.439999,13.26,...,1.30,22.209999,11.36,135.960007,31.930000,15.01,1.63,44.099998,5.22,9.94

In [10]:
# store the result to csv file
result.to_csv("combined data.csv", index = 0)